@model ORM.Models.Category
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h3>Name : @Model.Name</h3>
<h5>List of Products</h5>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    @foreach (var s in Model.Products)
            {
                <tr>
                    <td>@s.Id</td>
                    <td>@s.Name</td>
                    <td>@s.Price</td>
                </tr>
            }
</table>

